.w-100 {
  width: 100% !important;
}
*, *::after, *::before {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}
*, ::after, ::before {
  box-sizing: border-box;
}
*{
  text-decoration: none;
}
.navbar{
  background-color:rgb(120, 120, 209);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
  padding-right: 15px;
  padding-left: 15px;
}
.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a{
  font-size: 35px;
  font-weight: 600;
  margin-right: 25px;
  color: white;
}
li{
  list-style: none;
  display: inline-block;
}
li a{
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f0ebeb;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: rgb(22, 21, 21);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/*IMAGE*/
.image{
  height: 350px;
  width: 100%;
  background-size: auto;
}
.form-container {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 600px;
  height: 400px;
  text-align: center;
  margin-right: 30%;
  margin-left: 30%;
}

.form-container h2 {
  margin-bottom: 20px;
}
form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
  text-align: left;
}
input, textarea {
  margin-bottom: 15px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  width: 100%;
}
.submit {
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.submit {
  background-color: #45a049;
}
  /* FOOTER STYLING  */

  footer {
    background-color: #454242;
    color: #4a3e3e;
    /* padding: 50px 0; */
    height: 300px;
  }
  
  .footer-content {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    /* margin-bottom: px; */
  }
  
  .map {
    margin-left: 2%;
    max-width: 300px;
    margin-right: 30px;
  }
  
  .map iframe {
    border: none;
    height: 200px;
    width: 100%;
  }
  
  
  
  /* .contact-us,
  .social-media,
  .connect{
    flex: 1;
    margin-right: 30px;
  } */
  
  .social-media{
    margin-left: 90px;
  }
  
  .social-media h2{
    margin-left: 25px;
  }
  
  .social-media ul li{
    float: right;
    justify-content: space-between;
    /* position: relative;
    padding: 0.10rem;
   */
  }
  .connect{
    margin-left: 300px;
    margin-top: 200px
  }
  
  .connect button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    transition-duration: 0.4s;
  }
  
  .connect button:hover {
    background-color: #9fade4; /* Green */
    color: white;
  }
  
  
  .connect h2{
    color: #b6dded;
  }
  
  .contact-us ul,
  .social-media ul,
  .connect ul {
    margin-top: 15px;
    list-style: none;
    padding: 0;
  }
  
  .contact-us li,
  .connect li {
    margin-bottom: 10px;
  }
  
  .contact-us i,
  .social-media i {
    margin-right: 10px;
    font-size: 18px;
    vertical-align: middle;
  }
  
  .contact-us a,
  .social-media a {
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    color: #fff; 
    transition: color 0.3s ease;
  }
  .contact-us a:hover, .social-media a:hover {
     color: #ccc;
     }
    footer {
       background-color: #222222; 
       color: #ffffff;
        padding: 50px 0;
       }
  
  .copyright{
    background: black;
  }
  .copyright p{
    margin-left: 40%;
    color: white;
  }
  