.flipcards-heading{
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    color: blueviolet;
  }
  .flip-cards-section{
    margin-right:0px ;
    margin-left:40px ;
  }
  .card {
    perspective: 1000px;
    width: 550px;
    height: 550px;
    position: relative;
    margin-left: 30%;
    margin-right: 25px;
    float: left;
    box-shadow: 2px 2px 2px 2px ;
  }
  .card-inner {
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }
  .card:hover .card-inner {
    transform: rotateY(180deg);
  }
  .card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
  }
  .card-front {
    background: white;
    color: black;
    z-index: 2;
  }
  .card-back {
    background:black;
    color: white;
    transform: rotateY(180deg);
  }
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 20px;
    text-align: center;
  }
  .card img {
    max-width: 480px;
    max-height: 480px;
  }