.w-100 {
    width: 100% !important;
}
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
}
*{
    text-decoration: none;
}
.navbar{
    background-color:rgb(120, 120, 209);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    padding-right: 15px;
    padding-left: 15px;
  }
  .navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo a{
    font-size: 35px;
    font-weight: 600;
    margin-right: 25px;
    color: white;
  }
  li{
    list-style: none;
    display: inline-block;
  }
  li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin-right: 25px;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f0ebeb;
    min-width: 160px;
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(22, 21, 21);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* slider css*/
.slide-gallery {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gallery-container {
  width: 100%;
 height: 450px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.gallery {
  display: flex;
  transition: transform 0.5s ease;
}

.gallery-item {
  flex: 0 0 calc(100% / 3); /* Displaying about three pictures */
  max-width: calc(100% / 3);
  position: relative;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 450px;
  display: block;
  object-fit:cover;
}

.gallery-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.gallery-nav button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 20px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
}

.gallery-nav button:hover {
  background-color: rgba(13, 13, 13, 0.8);
  color: white;
}
/* cards styling*/
.heading h1{
  font-size: 60px;
  align-content: center;
  margin-left: 40%;
  color: blueviolet;
}
.heading h3{
  font-size: 20px;
  align-content: center;
  margin-left: 28%;
}
.QR-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute space between cards */
  margin-left: 60px;
  margin-right: 60px;
}
.QR {
  box-shadow: 0 8px 12px 0 rgba(11, 11, 11, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.QR-img-top{
  height:250px;
  width: 250px;
}
/*FOOTER*/
  footer {
    background-color: #454242;
    color: #4a3e3e;
    /* padding: 50px 0; */
    height: 300px;
  }
  
  .footer-content {
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    /* margin-bottom: px; */
  }
  
  .map {
    margin-left: 2%;
    max-width: 300px;
    margin-right: 30px;
  }
  
  .map iframe {
    border: none;
    height: 200px;
    width: 100%;
  }
  
  
  
  /* .contact-us,
  .social-media,
  .connect{
    flex: 1;
    margin-right: 30px;
  } */
  
  .social-media{
    margin-left: 90px;
  }
  
  .social-media h2{
    margin-left: 25px;
  }
  
  .social-media ul li{
    float: right;
    justify-content: space-between;
    /* position: relative;
    padding: 0.10rem;
   */
  }
  .connect{
    margin-left: 300px;
    margin-top: 200px
  }
  
  .connect button {
    width: 120px;
    height: 40px;
    border-radius: 20px;
    transition-duration: 0.4s;
  }
  
  .connect button:hover {
    background-color: #9fade4; /* Green */
    color: white;
  }
  
  
  .connect h2{
    color: #b6dded;
  }
  
  .contact-us ul,
  .social-media ul,
  .connect ul {
    margin-top: 15px;
    list-style: none;
    padding: 0;
  }
  
  .contact-us li,
  .connect li {
    margin-bottom: 10px;
  }
  
  .contact-us i,
  .social-media i {
    margin-right: 10px;
    font-size: 18px;
    vertical-align: middle;
  }
  
  .contact-us a,
  .social-media a {
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    text-decoration: none;
    color: #fff; 
    transition: color 0.3s ease;
  }
  .contact-us a:hover, .social-media a:hover {
     color: #ccc;
     }
    footer {
       background-color: #222222; 
       color: #ffffff;
        padding: 50px 0;
       }
  
  .copyright{
    background: black;
  }
  .copyright p{
    margin-left: 40%;
    color: white;
  }
  