*{
 text-decoration:none ; 
}
.logo-wrap {
    padding: 1rem 0rem;
}
.text-center {
    text-align: center !important;
}
.w-100 {
    width: 100% !important;
}
*, *::after, *::before {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}
*, ::after, ::before {
    box-sizing: border-box;
}
div {
    display: block;
    unicode-bidi: isolate;
}
.logo-wrap_logo {
    width: 350px;
    height: auto;
}
.bg-light-blue {
    background-color: #87CEEB;
}
.navbar{
  background-color:rgb(120, 120, 209);;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-right: 15px;
  padding-left: 15px;
}
.navdiv{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo a{
  font-size: 35px;
  font-weight: 600;
  margin-right: 25px;
  color: white;
}
li{
  list-style: none;
  display: inline-block;
}
li a{
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}
.introforschool{
  font-size: 45px;
  font-weight: 900;
  color: blueviolet;
}
.intropara-hidingsuccess{
  color: grey;
  font-size: 25px;
}
.author-name{
  color: blueviolet;
  font-size: 30px;
}
.school-introduction{
  background-color: rgb(249, 245, 245);
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f0ebeb;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: rgb(22, 21, 21);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}
/*footer*/
footer {
  background-color: #454242;
  color: #4a3e3e;
  height: 300px;
}

.footer-content {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  /* margin-bottom: px; */
}

.map {
  margin-left: 2%;
  max-width: 300px;
  margin-right: 30px;
}

.map iframe {
  border: none;
  height: 200px;
  width: 100%;
}

.social-media{
  margin-left: 90px;
}

.social-media h2{
  margin-left: 25px;
}

.social-media ul li{
  float: right;
  justify-content: space-between;
  /* position: relative;
  padding: 0.10rem;
 */
}
.connect{
  margin-left: 300px;
  margin-top: 200px
}

.connect button {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  transition-duration: 0.4s;
}

.connect button:hover {
  background-color: #9fade4; /* Green */
  color: white;
}


.connect h2{
  color: #b6dded;
}

.contact-us ul,
.social-media ul,
.connect ul {
  margin-top: 15px;
  list-style: none;
  padding: 0;
}

.contact-us li,
.connect li {
  margin-bottom: 10px;
}

.contact-us i,
.social-media i {
  margin-right: 10px;
  font-size: 18px;
  vertical-align: middle;
}

.contact-us a,
.social-media a {
  display: inline-block;
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #fff; 
  transition: color 0.3s ease;
}
.contact-us a:hover, .social-media a:hover {
   color: #ccc;
   }
  footer {
     background-color: #222222; 
     color: #ffffff;
      padding: 50px 0;
     }

.copyright{
  background: black;
}
.copyright p{
  margin-left: 40%;
  color: white;
}
/* slider css*/
.slide-gallery {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.gallery-container {
  width: 100%;
 height: 450px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.gallery {
  display: flex;
  transition: transform 0.5s ease;
}

.gallery-item {
  flex: 0 0 calc(100% / 3); /* Displaying about three pictures */
  max-width: calc(100% / 3);
  position: relative;
  overflow: hidden;
}

.gallery-item img {
  width: 100%;
  height: 450px;
  display: block;
  object-fit:cover;
}

.gallery-nav {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.gallery-nav button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 20px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease;
  margin-bottom: 15px;
}

.gallery-nav button:hover {
  background-color: rgba(13, 13, 13, 0.8);
  color: white;
}
/* cards styling*/
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Distribute space between cards */
  margin-left: 60px;
  margin-right: 60px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(11, 11, 11, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}
.card-img-top{
  height:150px;
  width: 150px;
}
.cards-intro .intro-cards{
      color: blueviolet;
      font-size: 45px;
      font-weight: bolder;
      text-align: center;
}
